<footer>
    <div class="footer-bottom">
        <div class="social">
            <a href="https://www.behance.net/khatiainan6e0a" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-behance"></i></a>
            <a href="https://vimeo.com/kinanashvili" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-vimeo-v"></i></a>
            <a href="https://github.com/khatiainanashvili" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/khatia_inanashvili/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="mailto:inanashvilikh@gmail.com"><i class="fa-regular fa-envelope"></i></a>
        </div>
    </div>
</footer>