{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    </head>

    <body>

        {% include 'navbar.html' %}

        {% block content %}

        {% endblock %}

    
        <script>

            const panels = document.querySelectorAll(".panel");
            let intervalId;
            
            
            document.addEventListener("DOMContentLoaded", function() {
                if (panels.length > 0) {
                    panels[0].classList.add('active');
                }
            });
            
            panels.forEach(element =>{
                element.addEventListener('click',()=>{
                      removeActiveClases()
                      element.classList.add("active")
                })
            })
            
            function removeActiveClases() {
                 panels.forEach(element => {
                    element.classList.remove("active")
                 });
            }
               </script>
        
   <script src="{% static 'scripts/script.js' %}"></script>
       

    </body>
</html>