
{% load static %}


  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="nav-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons md-light">menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="z-index: 100000000 !important;">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">❀ Home ❀</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'illustrations' %}">✿ Illustrations ✿</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'collections' %}">˚⋆❀ Collections ❀⋆˚</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">ʚɞ Contact ʚɞ</a>
          </li>

          {% if request.user.is_authenticated %}
          
          {%if  request.user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'profile' request.user.id %}">☘︎ Profile ☘︎</a>
                </li>
          {% endif %}
               
               
          <div class="dropdown">

            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              <img src="{{ request.user.avatar.url }}" alt="" style="width: 2.5em; height: 2.5em; border-radius: 100%;">
              <p>{{request.user.username}} <span class="material-icons md-light">arrow_drop_down</span> </p>
            </a>

            <div class="dropdown-menu">
           
              <a  href="{% url 'update' %}">settings <span class="material-icons md-light">psychology</span></a>
          
              <a  href="{% url 'logout' %}">LogOut <span class="material-icons md-light">logout</span></a>
          
          
              
            </div>

          </div>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login'%}">LogIn</a>
              </li>
            

          {% endif %}

          
        </ul>
      </div>
    </div>
  </nav>


  <script>

const userDropdown = document.querySelectorAll('.dropdown');
const userHeandler = document.querySelector('.dropdown-menu');
const navbarNavDropdown = document.querySelector('.navbar-collapse')
const navDropdown = document.querySelector('.nav-dropdown')
 
userDropdown.forEach(element => {

element.addEventListener('click', ()=>{
    userHeandler.classList.toggle('active')
    console.log("works");
   
}
)

});

navDropdown.addEventListener('click', () => {
  navbarNavDropdown.classList.toggle('active')
})

  </script>