{% extends 'main.html' %}   

{% load static %}

{% block title %} 
<title>Profile</title> 
{% endblock %}

{% block content %}
<div class="add-new-item">

    <a href="{% url 'profile' request.user.id  %}" class="close-btn">
        <img src=" {% static 'files/icons/close.svg' %} " alt="">
    </a>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="illustration-field">
        <label for="illustration">Upload Illustration</label>
        <br>
        {{ illustration_form.image }}
    </div>

    <div class="illustration-field">
        <label for="illustration_tags">Illustration Tags</label>
        <br>
        {{ illustration_form.tags }}
    </div>

    <div class="illustration-field">
        <label for="tools">Tools</label>
        <input type="text" name="tools" list="tools-list">
        <datalist id="tools-list">
            {% for tool in tools %}
            <option value="{{ tool.name }}">{{ tool.name }}</option>
            {% endfor %}
        </datalist>
    </div>

    <div class="illustration-field">

        <label for="collection_name">Collection Name</label>
        <input type="text" name="collection_name" list="collection_name">  
        <datalist id="collection_name">
          {% for collection in collections %}
            <option value="{{ collection.name }}">{{ collection.name }}</option>
            {% endfor %}
        </datalist>
            
    </div>

    <div class="illustration-field">
        <label for="is_favorite">Select if it is Favorite To Show on The Main Page</label>
        <input type="checkbox" name="is_favorite" id="is_favorite">
    </div>

    <div class="illustration-field">
        <label for="description">Description</label>
        <br>
        <textarea name="description" id="description"></textarea>
    </div>


    <br>
    <input type="submit" value="Create New Item">
</form>

</div>
{% endblock %}
