
{% extends 'main.html' %}   
 
{% block title %} <title>Home</title> {% endblock %}



{% block content %}

  
      <h1 style="margin: 1.5em 0;">
       Collections
      </h1>

<div class="collection-list-container">
    
     {% for collection in collections %}
     {% if collection.illustrations.all|length != 0 %}
      <ul class="collection" >
       
       <a href="{% url 'collection_detail' collection.id %}">
       <li>
           <div class="">
         
            <ul class="collection_container">
            <li class="collection-images">
              {% for illustration in collection.illustrations.all|slice:":4" %}
                <img src="{{illustration.image.url}}" alt="">
              {% endfor %}
              
            </li>
            
            {% if collection.illustrations.all|length > 4 %}
           <span class="more">
             +  {{ collection.illustrations.all|length|add:"-4" }}
           </span>
           {% endif %}
          
           </ul>
           
           </div>

           <div class="collection-details" id="collectionDetail">
           <h3>
                {{ collection.name }}
        
           </h3>
           <p>
            {{ collection.description }}
           </p>
          </div>
           </li>
          </a>
          {% if request.user.is_superuser %}
          <div class="settings">
            <div class="settings-heandler ">
              <span class="material-icons md-light">settings</span>
              <span class="material-icons md-light">arrow_drop_down</span>
            </div>
            <ul class="collection-settings">
              <span class="material-icons md-light">arrow_drop_up</span>
              <li>
                <a href="{% url 'update_collection' collection.id %}">Edit</a>
              </li>
              <li>
                <a href="{% url 'delete_collection' collection.id %}" class="">Delete</a> 
              </li>
            </ul>
          </div>
        {% endif %}
          
      </ul> 
      {% endif %}
      {% endfor %}
    </a>

  </div>
{% endblock %}