
{% extends 'main.html' %}   

{% load static %}

{% block title %} <title>Home</title> {% endblock %}



{% block content %}

  

<div class="home-page">
<div class="illustartor">
  <img src=" {% static 'files/icons/khatia.png' %} " alt="khatia" class="khatia">
  <img src=" {% static 'files/icons/1.gif' %} " alt="khatia" class="firefly">
  <div class="main-description">
    <img src=" {% static 'files/icons/art.gif' %} " alt="khatia" class="plant plant1">
  <h5>
    Explore my unique digital illustrations, where my creativity and artistry come to life through vivid visuals and captivating designs
  </h5>


</div>
</div>    
      <ul class="carucell" >
       {% for collection in favorite_collections %}
       <li>
          
           <div class="carucell-container">
           <ul class="carucell-container" >
            <li class="container">
              {% for illustration in collection.illustrations.all %}
                <div class="panel " style="background-image: url({{illustration.image.url}}) ;">
                    <h3>{{ illustration.tools.all }}</h3>
                </div>
              {% endfor %}
            </li>
           </ul>
           </div>
           </li>

           <h3>
            <a href="{% url 'collection_detail' collection.id %}">
                {{ collection.name }}
            </a>
           </h3>
           <p>
            {{ collection.description }}
           </p>
           <hr>
           {% endfor %}
      </ul>


      
   </div>    


   
   
{% endblock %}