
{% extends 'main.html' %}   
 
{% block title %} <title>Home</title> {% endblock %}



{% block content %}

<form class="d-flex" role="search" action="" style="margin: 1.5em auto;">
  <input name = "query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div class="tools-list">
{% for tool in tools %}
  <a href="{{ request.path }}?q={{ tool.name }}"><h5>{{ tool.name }}  {{ tool.illustrations.count }}</h5>
  </a>


{% endfor %}
</div>

<div class="grid-container">

              {% for illustration in illustrations %}
              
                <a href="{% url 'illustration_detail' illustration.id %}"   class="grid-item">
                
                    <img src="{{illustration.image.url}}" alt="illustration">
          
               </a>
              
                
              {% endfor %}
        
        
   </div>       
   
{% endblock %}