

{% extends 'main.html' %}   
 
{% load static %}

{% block title %} <title>Collection Details</title> {% endblock %}

{% block content %}


<div class="illustartion-detail-container">

    <div class="illustration-heandlers">
        
             <a href="{% url 'illustrations' %}" class="close-btn close-illustration">
                 <img src=" {% static 'files/icons/close.svg' %} " alt="">
             </a>
            
    </div>
       

<ul class="collection-detail-container-images">

    <li class="collection-detail-images" >
        <img src="{{ illustration.image.url }}" alt="Illustration" class="image illustration-detail-img">
        <div class="illustration-info">
          <h3>Tools: {{ illustration.tool }}</h3>
        {% if request.user.is_authenticated %}
        <a href="{% url 'delete_illustration' illustration.id %}" class=" delete-illustration delete">Delete image</a> 
        {% endif %}  
        </div>
        
    </li>


</ul>


</div>

{% endblock %}