{% extends 'main.html' %}

 
{% load static %}

{% block title %} <title>Login/Register Page</title> {% endblock %}

{% block content %}
        

         <div class="frame">
            {% if page == 'login' %}

            <a href="{% url 'home' %}" class="close-btn">
                <img src=" {% static 'files/icons/close.svg' %} " alt="">
            </a>


            <div class="login">Login</div>

            {% if messages %}

            <ul style="color: red;">
             {% for message in messages %}
              <li>
               {{ message }}
              </li>
             {% endfor %}
            </ul>

            {% endif %}



            <form method="POST" action="">
                {% csrf_token %}

                <div class="email">
                    <input type="text" name="username" placeholder="Username">
                    <span class="material-icons md-light">person</span>
                </div>
               
                <div class="password">
                    <input type="password" name="password" placeholder="Pasword">
                    <span class="material-icons md-light">password</span>
                </div>
                
                <input type="submit" value="login" class="log">
        
                <div class="reg"></div>
                 <p>Don't have an account? Sign up</p>
                <a href="{% url 'register' %}">Sign Up</a>
            </form>


            {% else %}
            <div class="frame">
                {% if messages %}

                <ul style="color: red;">
                 {% for message in messages %}
                  <li>
                   {{ message }}
                  </li>
                 {% endfor %}
                </ul>
    
                {% endif %}
   
             <a href="{{ request.META.HTTP_REFERER }}" class="close-btn">
                  <img src=" {% static 'files/icons/close.svg' %} " alt="">
              </a>
   
             <div class="login">Register</div>
             <div>
                   <form method="POST" action="">
                       {% csrf_token %}
                       
                <div class="email">
                    <input type="text" name="username" placeholder="Username">
                    <span class="material-icons md-light">person</span>
                </div>
               
                <div class="password">
                    <input type="password" name="password" placeholder="Pasword">
                    <span class="material-icons md-light">password</span>
                </div>

                <div class="password">
                    <input type="password" name="password" placeholder="Pasword">
                    <span class="material-icons md-light">password</span>
                </div>
         
                      <input type="submit" value="Register" class="log">
         
                      <br><br>
                       <p>Already signed up?</p>
                       <a href="{% url 'login' %}">Login</a>
                   </form>
             </div>
   
            </div>
            {% endif %}

        </div>
        </div>






{% endblock %}