{% extends 'main.html' %}

 
{% load static %}

{% block title %} <title>Register Page</title> {% endblock %}

{% block content %}
        
            <div class="register-container add-new-item" style="flex-direction: column; margin-bottom: 0; width: 50em; height: 40em; margin-top: 7em; padding: 2em;">

                <a href="{% url 'home' %}" class="close-btn">
                     <img src=" {% static 'files/icons/close.svg' %} " alt="">
                 </a>
      
                <h1>Register Page</h1>
                <div>
                      <form method="POST" action="">
                          {% csrf_token %}
                          {{ form.as_p }}
      
                         <input type="submit" value="Register" class="add-file-btn" style=" background-color: rgb(123, 35, 122);">
      
                         <br><br>
                          <p>Already signed up?</p>
                          <a href="{% url 'login' %}">Login</a>
                      </form>
                </div>
      
               </div>
   


{% endblock %}